<launch>

  
  <!-- -0.007780 -->
  <!--                                                                                    x      y     z   roll pitch   yaw -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_to_cam_link" args="-0.09 0 0.05150 3.14159 0.0494 0 /camera_link /laser" />

  <arg name="rtabmap_args"      default="--delete_db_on_start"/>
  <!-- Initialize camera node -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="align_depth" value="true"/>
  </include>

   <!-- Lidar node launch -->
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>

  <!-- Launh frontier exploration nodes -->
  <include file="$(find robot_exploration)/launch/path_planner.launch"/>
  
  <!-- Launch odom node -->
  <include file="$(find robot_exploration)/launch/odom.launch"/>

  <!-- Initialize RTABMAP -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args"          value="$(arg rtabmap_args)"/>
      <arg name="rtabmap_viz"           value="false"/>
      <arg name="rviz"                  value="true" />

      <arg name="subscribe_scan"    value="true"/>
      <arg name="scan_topic"        value="/scan"/>
      <arg name="odom_topic"        value="/odom"/>
      <arg name="depth_topic"       value="/camera/aligned_depth_to_color/image_raw"/>
      <arg name="rgb_topic"         value="/camera/color/image_raw"/>
      <arg name="camera_info_topic" value="/camera/color/camera_info"/>
      <arg name="rgbd_sync"         value="false"/>
      <arg name="visual_odometry"   value="false"/>


      <arg name="gen_cloud"         value="true"/> 
      <arg name="approx_rgbd_sync"  value="false"/>

  </include>

</launch>